#calendar-extension {
    font-size: 14px;
    position: fixed;
    width: 100%;
    height: 100%;
}

#calendar-extension .menu-popup {
    font-size: 12px;
}

    #calendar-extension .fc-bg .fc-today {
        background: #BDD7EE;
    }

    #calendar-extension > .splitter > .leftPane {
        width: 75%;
        overflow: auto;
    }

    #calendar-extension > .splitter > .handleBar {
        left: 75%;
    }

    #calendar-extension > .splitter > .rightPane {
        left: 75%;
        overflow: auto;
    }
        
        #calendar-extension > .splitter > .rightPane > .status-indicator-container {
            position: absolute;
            top: 43%;
            left: 0;
            height: 10%;
            width: 100%;
        }

    #calendar-extension .calendar-view {        
        padding-top: 0px;
    }

        #calendar-extension .calendar-view .menu-container {        
            border-bottom: none;
        }

        #calendar-extension .calendar-view .calendar-container {
            margin: 0px 10px 0px 10px;
        }

        #calendar-extension .calendar-view td span.sprint-label {
            float: left;
            font-size: 11px;
            font-weight: bold;
            color: #333;
            margin-top: 4px;
            margin-left: 4px;
        }

        #calendar-extension .calendar-view td.fc-bgevent.sprint-event {
            background-color: inherit;
        }

            #calendar-extension .calendar-view td.fc-bgevent.sprint-event.hover {
                background-color: #ddd;
            }

    #calendar-extension .calendar-title {
        /*font-family: "Segoe UI,Tahoma,Arial,Verdana";      */
        font-weight: lighter;
        font-size: 20px;
        color: #444;
        margin: 0px 10px 10px 10px;
        padding-top: 8px;
    }

.event-edit-control > table {
    width: 90%;
}

    .event-edit-control > table td {
        padding: 3px;
    }

        .event-edit-control > table td.label:first-child {
            width: 100px;
            vertical-align: top;
            padding-top: 5px;
        }
        
.category {
    margin: 5px 5px 5px 10px;
}

    .category > h3 {
        /*font-family: "Segoe UI,Tahoma,Arial,Verdana";*/
        font-weight: lighter;
        margin-bottom: 3px;
        color: #000
    }

    .category .category-title {
        padding-bottom: 4px;
    }

    .category .category-titletext {
        height: 18px;
        vertical-align: middle;
    }

    .category .category-icon {
        width: 18px;
        height: 18px;
        display: inline-block;
        margin-right: 5px;
        vertical-align: middle;
    }

    .category .category-color {
        width: 8px;
        height: 18px;
        display: inline-block;
        margin-right: 3px;
        vertical-align: text-bottom;
    }

    .category .category-subtitle {
        font-size: smaller;
        color: #999;
        margin-bottom: 3px;
        text-overflow: ellipsis;
        overflow: hidden;
    }

        .category .category-subtitle.c-color {
            margin-left: 11px;
        }

        .category .category-subtitle.c-icon {
            margin-left: 21px;
        }


th.fc-day-header {
    font-weight: normal;
    padding: 3px 0px 3px 5px;
    background-color: #F8F8F8 ;
    text-align: left;
}

#calendar-extension div.fc-content {
    padding-top: 2px;
    padding-bottom: 2px;
}

.fc-content .event-icon {
    width: 18px;
    height: 18px;
    display: inline-block;
    float: left;
    margin: 2px 2px 0 0;
}

#calendar-extension a.fc-event {
    border-radius: inherit;
}

#calendar-extension .feedback-area {
    text-align: right;
    font-size: 12px;
    margin: 5px 5px 5px 10px;
}

/* Contributed dialog content style */

.edit-freeform-control > table, .edit-capacity-control > table {
    width: 90%;
}

    .edit-freeform-control > table td, .edit-capacity-control > table td {
        padding: 3px;
    }

        .edit-freeform-control > table td.label:first-child, .edit-capacity-control > table td.label:first-child {
            width: 100px;
            vertical-align: top;
            padding-top: 5px;
        }
